*,
body {
  margin: 0 0;
  padding: 0 0;
}
.register-fields {
  width: 100%;
  background-color: transparent;
}
.location-fields {
  width: 50%;
  background-color: transparent;
}
#outlet::-webkit-scrollbar {
  display: none;
}
.login-fields {
  width: 100%;
  background-color: transparent;
  height: 45px;
}
.login-fields:active,
.login-fields:focus {
  height: 52px !important;
}
